In [138]:
import pandas as pd
import numpy as np

df = pd.read_excel("C:/Programming/Dataset/Stock.xlsx",index_col="Name");df
df1 = pd.read_excel("C:/Programming/Dataset/Stock.xlsx");df

                             Category  Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ปากกา                 อุปกรณ์การเรียน    200       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
โซฟา                     เฟอร์นิเจอร์   5000       5
จาน                       เครื่องครัว    250       4
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ยางลบ                 อุปกรณ์การเรียน     20       5
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
รถบังคับ                      ของเล่น    500       6

In [139]:
# เรียงตาม column Index

result = df.sort_index();result # น้อยไปมาก

                             Category  Price  Amount
Name
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
กางเกงยีนต์                  เสื้อผ้า    999       8
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
จาน                       เครื่องครัว    250       4
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ปากกา                 อุปกรณ์การเรียน    200       5
ยางลบ                 อุปกรณ์การเรียน     20       5
รถบังคับ                      ของเล่น    500       6
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
เสื้อยืดคอกลม                เสื้อผ้า    500       2
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
โซฟา                     เฟอร์นิเจอร์   5000       5
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1

In [140]:
result1 = df.sort_index(ascending=False);result # มากไปน้อย

                             Category  Price  Amount
Name
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
กางเกงยีนต์                  เสื้อผ้า    999       8
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
จาน                       เครื่องครัว    250       4
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ปากกา                 อุปกรณ์การเรียน    200       5
ยางลบ                 อุปกรณ์การเรียน     20       5
รถบังคับ                      ของเล่น    500       6
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
เสื้อยืดคอกลม                เสื้อผ้า    500       2
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
โซฟา                     เฟอร์นิเจอร์   5000       5
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1

In [141]:
# เรียงตาม Value
result.sort_values('Price',ascending=False,inplace=True);result

# inplace=True เป็นการ save ทับ dataframe นั้นเลย

                             Category  Price  Amount
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
โซฟา                     เฟอร์นิเจอร์   5000       5
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
รถบังคับ                      ของเล่น    500       6
เสื้อยืดคอกลม                เสื้อผ้า    500       2
จาน                       เครื่องครัว    250       4
ปากกา                 อุปกรณ์การเรียน    200       5
ยางลบ                 อุปกรณ์การเรียน     20       5

In [142]:
# การเพิ่ม Column

df["delivery"] = 100;df # เหมือน การเพิ่ม dictionary

                             Category  Price  Amount  delivery
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10       100
ปากกา                 อุปกรณ์การเรียน    200       5       100
โคมไฟ                เครื่องใช้ในบ้าน   1200       7       100
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1       100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0       100
เสื้อยืดคอกลม                เสื้อผ้า    500       2       100
กางเกงยีนต์                  เสื้อผ้า    999       8       100
ตุ๊กตาหมีพูห์                 ของเล่น    950       5       100
โซฟา                     เฟอร์นิเจอร์   5000       5       100
จาน                       เครื่องครัว    250       4       100
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7       100
ยางลบ                 อุปกรณ์การเรียน     20       5       100
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7       100
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5       100
รถบังคับ                      ของเล่น    500       6       100

In [143]:
df["total"] = df["Price"] + df["delivery"]
df.sort_values("total",ascending=False,inplace=True);df

                             Category  Price  Amount  delivery  total
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7       100  15100
โซฟา                     เฟอร์นิเจอร์   5000       5       100   5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0       100   3600
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7       100   2600
โคมไฟ                เครื่องใช้ในบ้าน   1200       7       100   1300
กางเกงยีนต์                  เสื้อผ้า    999       8       100   1099
ตุ๊กตาหมีพูห์                 ของเล่น    950       5       100   1050
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10       100   1000
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5       100    950
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1       100    850
เสื้อยืดคอกลม                เสื้อผ้า    500       2       100    600
รถบังคับ                      ของเล่น    500       6       100    600
จาน                       เครื่องครัว    250       4       100    350
ปากกา                 อุปกรณ์การเรียน    200       5       100    300
ยางลบ                 อุปกรณ์การเรียน     20       5       100    120

In [144]:
# เปลี่ยนชื่อ column

cols = {"Price":"Price per unit", "Category":"Group"}
df.rename(columns=cols,inplace=True);df

                                Group  Price per unit  Amount  delivery  total
Name
ทีวี                  เครื่องใช้ไฟฟ้า           15000       7       100  15100
โซฟา                     เฟอร์นิเจอร์            5000       5       100   5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า            3500       0       100   3600
External HardDisk  อุปกรณ์คอมพิวเตอร์            2500       7       100   2600
โคมไฟ                เครื่องใช้ในบ้าน            1200       7       100   1300
กางเกงยีนต์                  เสื้อผ้า             999       8       100   1099
ตุ๊กตาหมีพูห์                 ของเล่น             950       5       100   1050
เมาส์              อุปกรณ์คอมพิวเตอร์             900      10       100   1000
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์             850       5       100    950
ไมโครโฟน              เครื่องใช้ไฟฟ้า             750       1       100    850
เสื้อยืดคอกลม                เสื้อผ้า             500       2       100    600
รถบังคับ                      ของเล่น             500       6       100    600
จาน                       เครื่องครัว             250       4       100    350
ปากกา                 อุปกรณ์การเรียน             200       5       100    300
ยางลบ                 อุปกรณ์การเรียน              20       5       100    120

In [148]:
# การลบ column
df.drop('delivery',axis=1,inplace=True);df

KeyError: "['delivery'] not found in axis"

In [149]:
# ลบ row ด้วย values
df.drop('เมาส์',axis=0,inplace=True);df

KeyError: "['เมาส์'] not found in axis"

In [153]:
# ลบ row ด้วย index
rows = [1,2,3]
df1.drop(rows,axis=0,inplace=True);df1

KeyError: '[1, 2, 3] not found in axis'

In [151]:
# เพิ่ม row
list_a = ["earsphone", "Computer", 1500, 15,22500]
list_b = ["charger", "Computer" ,500, 30, 15000]
products = [list_a,list_b]
cols = ["Name","Group","Price per unit","Amount","total"]
newdf = pd.DataFrame(data=products,columns=cols);newdf

        Name     Group  Price per unit  Amount  total
0  earsphone  Computer            1500      15  22500
1    charger  Computer             500      30  15000

In [152]:
newdf.set_index("Name",inplace=True);newdf

              Group  Price per unit  Amount  total
Name
earsphone  Computer            1500      15  22500
charger    Computer             500      30  15000

In [154]:
df = pd.concat([df,newdf],ignore_index=False);df
# pd.concat(objs, axis=0, join='outer', ignore_index=False,  
#           keys=None,levels=None, names=None, 
#           verify_integrity=False,copy=True)
# pandas 2.0 has already removed pd.append()

                                Group  Price per unit  Amount  total
Name
ทีวี                  เครื่องใช้ไฟฟ้า           15000       7  15100
โซฟา                     เฟอร์นิเจอร์            5000       5   5100
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า            3500       0   3600
External HardDisk  อุปกรณ์คอมพิวเตอร์            2500       7   2600
โคมไฟ                เครื่องใช้ในบ้าน            1200       7   1300
กางเกงยีนต์                  เสื้อผ้า             999       8   1099
ตุ๊กตาหมีพูห์                 ของเล่น             950       5   1050
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์             850       5    950
ไมโครโฟน              เครื่องใช้ไฟฟ้า             750       1    850
เสื้อยืดคอกลม                เสื้อผ้า             500       2    600
รถบังคับ                      ของเล่น             500       6    600
จาน                       เครื่องครัว             250       4    350
ปากกา                 อุปกรณ์การเรียน             200       5    300
ยางลบ                 อุปกรณ์การเรียน              20       5    120
earsphone                    Computer            1500      15  22500
charger                      Computer             500      30  15000